<html>
    <body>
        <h1>It work's</h1>
        <p>Apache is running</p>
        <hr />

        <table>
          <tr>
            <td>platform</td><td><%= node['platform'] %></td>
          </tr>
          <tr>
            <td>platform_version</td><td><%= node['platform_version'] %></td>
          </tr>
          <tr>
            <td>ipaddress</td><td><%= node['ipaddress'] %></td>
          </tr>
          <tr>
            <td>hostname</td><td><%= node['hostname'] %></td>
          </tr>
          <tr>
            <td>domain</td><td><%= node['domain'] %></td>
          </tr>
        </table>

    </body>
</html>
